// --------------------------------------------------------
// Circles
// --------------------------------------------------------
//
//  @include circle(rgba(red, 0.8), 100px, 100px)
//
// --------------------------------------------------------

@mixin circle($color, $width, $height){
    width: $width;
    height: $height;
    background: $color;
    border-radius: #{$width / 2} / #{$height / 2};
}