// Transition Mixin
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

// Defaults

$default-animation-duration: 1s !default;
$default-animation-timing-function: ease !default;
$default-animation-fill-mode: both !default;
$default-animation-iterations: 1 !default;
$default-animation-direction: normal !default;
$default-animation-play-state: running !default;
$default-animation-delay: 2s !default;

// Standard Animation Properties

@mixin animation-name($name: '') {
    @if $name != '' {
        @include experimental(animation-name, $name);
    } @else {
        @warn "Your animation needs a name!";
    }
}

@mixin animation-duration($duration: $default-animation-duration) {
    @include experimental(animation-duration, $duration);
}

@mixin animation-timing-function($timing: $default-animation-timing-function) {
    @include experimental(animation-timing-function, $timing);
}

@mixin animation-fill-mode($mode: $default-animation-fill-mode) {
    @include experimental(animation-fill-mode, $mode);
}

@mixin animation-iteration-count($count: $default-animation-iterations) {
    @include experimental(animation-iteration-count, $count);
}

@mixin animation-direction($direction: $default-animation-direction) {
    @include experimental(animation-direction, $direction);
}

@mixin animation-play-state($state: $default-animation-play-state) {
    @include experimental(animation-play-state, $state);
}

@mixin animation-delay($delay: $default-animation-delay) {
    @include experimental(animation-delay, $delay);
}

// Keyframes

@mixin keyframes($name) {
   
        @-webkit-keyframes $name {
            @content;
        }
    
   
        @-moz-keyframes $name {
            @content;
        }
    
    
        @-o-keyframes $name {
            @content;
        }
    
    @keyframes $name {
        @content;
    }
}

@mixin webkit-keyframes($name) {
   
        @-webkit-keyframes $name {
            @content;
        }
    
}

@mixin moz-keyframes($name) {
    
        @-moz-keyframes $name {
            @content;
        }
    
}

@mixin o-keyframes($name) {
 
        @-opera-keyframes $name {
            @content;
        }
    }
}

@mixin official-keyframes($name) {
    @keyframes $name {
        @content
    }
}

// Default animation properties

%defaultAnimation {
    @include animation-duration;
    @include animation-fill-mode;
    -webkit-backface-visibility: visible !important;
       -moz-backface-visibility: visible !important;
         -o-backface-visibility: visible !important;
            backface-visibility: visible !important;
}

// All-in-one mixin

@mixin animation(
    $name: null,
    $duration: null,
    $timing: null,
    $iterations: null,
    $delay: null,
    $fill: null,
    $direction: null,
    $state: null) {

    @if $name != null {
        %#{$name} {
            @extend %defaultAnimation;
            @include animation-name(unquote($name));
            @if $duration != null { @include animation-duration($duration); }
            @if $timing != null { @include animation-timing-function($timing); }
            @if $iterations != null { @include animation-iteration-count($iterations); }
            @if $delay != null { @include animation-delay($delay); }
            @if $fill != null { @include animation-fill-mode($fill); }
            @if $direction != null { @include animation-direction($direction); }
            @if $state != null { @include animation-play-state($state); }
        }
    } @else {
        @warn "Your animation needs a name!"
    }

}