// Block, Element, Modifier mixin

@mixin element($element) {
    &__#{$element} {
        @content;
    }
}

// modifiers get appended with "--" and the $name

@mixin modifier($modifier) {
    &--#{$modifier} {
        @content;
    }
}

$module: "block";

.#{$module} {
    color: purple;
    // Header
    @include element(header) {
        color: orange;
    }

    // Text
    @include element(text) {
        color: black;
        // Text Link
        @include modifier(link) {
            //link modifier
            color: green;
        }
    }

    // Featured
    &--featured {
        .#{$module}__content {
            background: #eee;
        }
    }
}