@mixin menu {
    // Base
    @extend %reset;
    ul, li {
        @extend %reset;
    }
    & li {
        display: block;
        @include medium {
            display: inline-block;
        }
        @include large {
            display: inline-block;
        }
        position: relative;
    }
    & a {
        display: block;
        line-height: 60px;
        color: $base-text-color;
        text-decoration: none;
        background-color: $base-background-color;
        padding: 0em 1em;
        &:hover {
            background-color: darken($base-background-color, 5%);
        }
    }
    // Sub
    ul {
        @include medium {
            position: absolute;
        }
        display: none;
        top: 60px;
        min-width: 100%;
        @include medium {
            min-width: 220px;
        }
        z-index: -1;
        transition: 0.2s ease-in-out;
        & li {
            display: block;
        }
        & a {
            font-size: 0.9em;
            line-height: 40px;
            background-color: darken($base-background-color, 10%);
        }
    }
    // Show on hover
    & li:hover > ul {
        display: block;
        z-index: 999;
    }
}

.nav {
    @include menu;
}