$default-menu-bg: $base-background-color;
$default-menu-bg-hover: darken($base-background-color, 5%);
$default-menu-text: $base-text-color;
$default-menu-text-hover: darken($base-text-color, 10%);

@mixin menu($bg: $default-menu-bg, $bg-hover: $default-menu-bg-hover, $text: $default-menu-text, $text-hover: $default-menu-text-hover) {
    // Base
    @extend %reset;
    ul, li {
        @extend %reset;
    }
    & li {
        display: block;
        @include medium {
            display: inline-block;
        }
        @include large {
            display: inline-block;
        }
        position: relative;
    }
    & a {
        display: block;
        line-height: 60px;
        color: $text;
        text-decoration: none;
        background-color: $bg;
        padding: 0em 1em;
        &:hover {
            background-color: $bg-hover;
        }
    }
    // Sub
    ul {
        &.reverse--position {
          right:0;
          left:auto;
        }
        @include medium {
            position: absolute;
        }
        display: none;
        left:0;
        top: 60px;
        min-width: 100%;
        @include medium {
            min-width: 220px;
        }
        z-index: -1;
        transition: 0.2s ease-in-out;
        & li {
            display: block;
        }
        & a {
            font-size: 0.9em;
            line-height: 40px;
            background-color: $bg;
            [class^="icon-"],
            [class*=" icon-"],
            span, i {
                display: inline-block;
                font-style: normal;
            }
        }
    }
    // Sub sub
    ul ul {
      @include medium {
        position: absolute;
        left: 220px;
        top: 0px;
    }
    }
    // Show on hover
    & li:hover > ul {
        display: block;
        z-index: 999;
    }
}

.nav {
    @include menu;
}
