$mobile: 35em;
$mobile-only: max-width 35em;
$tablet: 35em;
$tablet-vertical: 63em;
$desktop: 63em;
$desktop-large: 80em;

@mixin mobile {
    @include breakpoint($mobile) {
        @content;
    }
}

@mixin mobile-only {
    @include breakpoint($mobile-only) {
        @content;
    }
}

@mixin tablet {
    @include breakpoint($tablet) {
        @content;
    }
}

@mixin tablet-vert {
    @include breakpoint($tablet-vertical) {
        @content;
    }
}

@mixin desktop {
    @include breakpoint($desktop) {
        @content;
    }

    .oldie & {
        @content;
    }
}

@mixin desktop-large {
    @include breakpoint($desktop-large) {
        @content;
    }
}
