@import "../../../sass-mediaqueries/media-queries";
// New susy libsass grid
// Mobile only
$device-small: 40em;
// Tablet
$device-medium: 40.063em;
// Desktop
$device-large: 64em;
// Large Desktop
$device-xlarge: 90em;
@mixin xsmall {
    @include max-screen($device-small) {
        @content;
    }
}

@mixin small {
    @include min-screen($device-small) {
        @content;
    }
}

@mixin medium {
    @include min-screen($device-medium) {
        @content;
    }
    .lt-ie8 & {
        @content;
        // We want to show this for the older IE8 browser that doesnt support media queries.
    }
}

@mixin large {
    @include min-screen($device-large) {
        @content;
    }
    .lt-ie8 & {
        @content;
        // We want to show this for the older IE8 browser that doesnt support media queries.
    }
}

@mixin xlarge {
    @include min-screen($device-xlarge) {
        @content;
    }
}