// =============================================================
//
// var/colors.scss
// Define the global color variables for the site(s).
// Author: Ian Jamieson
//
// =============================================================

$black: #000;
$white: #fff;
$gray: #e2e2e2;
$blue: #5eb8ce;
$orange: #f39c12;
$green: #61bb46;
$yellow: #f8ac1e;
$red: #fe624e;

//flatuicolors.com
$turquoise: #1abc9c;
$emerald: #2ecc71;
$peterriver: #3498db;
$amethyst: #9b59b6;
$wetasphalt: #34495e;
$greensea: #16a085;
$nepheritis: #27ae60;
$belizehole: #2980b9;
$wisteria: #8e44ad;
$midnightblue: #2c3e50;
$sunflower: #f1c40f;
$carrot: #e67e22;
$alizarin: #e74c3c;
$clouds: #ecf0f1;
$concrete: #95a5a6;
$pumpkin: #d35400;
$pomegranate: #c0392b;
$silver: #bdc3c7;
$asbestos: #7f8c8d;

// Feedback

$success: $green;
$warning: $sunflower;
$danger: $red;

$base-color: $red !default;
$alt-color: complement($base-color) !default;

//$alt-color: invert($base-color) !default;