// =============================================================
//
// grid.settings.scss
// Define the global grid settings for use throughout the sites.
// Author: Ian Jamieson
//
// =============================================================

@include border-box-sizing;

$total-columns: 12;
$column-width: 0em;
$gutter-width: 0em;
$grid-padding: 1em; 