// =============================================================
//
// grid.settings.scss
// Define the global grid settings for use throughout the sites.
// Author: Ian Jamieson
//
// =============================================================

$total-columns: 12;
$column-width: 6em;
$gutter-width: 1em;
$grid-padding: $gutter-width; 