@mixin btn {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    font-family: inherit;
    font-size: 100%;
    cursor: pointer;
    border: solid $default-button-border-size $default-button-border-color;
    margin: 0;
    padding: 0.5em 2em;
    @extend %base-background;
    @extend %base-text-color;
    @extend %base-border-radius;
    line-height: 1.5;
    overflow: visible;
    text-decoration: none;
    &:hover, &:active, &:focus, &:visited {
        text-decoration: none;
    }
    &:hover {
        //box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
   
    }
    &:active, &:focus {
        outline: none;
        //box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
   
    }
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}