// Block, Element, Modifier mixin

@mixin element($element) {
    &__#{$element} {
        @content;
    }
}

// modifiers get appended with "--" and the $name

@mixin modifier($modifier) {
    &--#{$modifier} {
        @content;
    }
}

/*

$module: "block";

.#{$module} {
    color: purple;
   
    @include element(header) {
        color: orange;
    }

    @include element(text) {
        color: black;
     
        @include modifier(link) {
           
            color: green;
        }
    }

  
    &--featured {
        .#{$module}__content {
            background: #eee;
        }
    }
}*/