// ====================================================
// Default Font Settings ==============================
// ====================================================
@include establish-baseline;
// ====================================================
// Default Font Sizes ==============================
// ====================================================
html,
body {
    font-family: $base-font-family;
    color: $base-font-color;
    font-weight: $base-font-weight;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $base-font-weight;
}

h1 {
    @include adjust-font-size-to(38px);
}

h2 {
    @include adjust-font-size-to(32px);
}

h3 {
    @include adjust-font-size-to(28px);
}

h4 {
    @include adjust-font-size-to(22px);
}

h5 {
    @include adjust-font-size-to(18px);
}

h6 {
    @include adjust-font-size-to(16px);
}