.header {
    display: block;
    min-height: 80px;
    background-color: $gray;
    &__logo {
        @include span(2);
        background: red;
    }
    &__nav {
        @include span(10);
        @include last;
        background: yellow; 
    }
}