.alert {
    @extend %base-background;
    @extend %base-padding;
    @extend %base-border;
    @extend %base-border-radius;
    margin: $default-margin 0;
}

.alert--warning {
    @extend .alert;
    background-color: $warning;
    color: set-color($warning);
}

.alert--danger {
    @extend .alert;
    background-color: $danger;
    color: set-color($danger);
}

.alert--success {
    @extend .alert;
    background-color: $success;
    color: set-color($success);
}