// Fade In Up
//@include animation(fadeinup 1s);

@mixin fadeinup() {

    @include keyframes(fadeinup) {
        0% {
            opacity: 1;
            -webkit-transform: translateY(0);
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(-2em);
        }
    }

}
