// Fade In Down
//@include animation(fadeindown 1s);


@mixin fadeindown() {

    @include keyframes(fadeindown) {
        0% {
            opacity: 0;
            -webkit-transform: translateY(-2em);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
        }
    }

}
